/hipparcos_src/bin/Debug/Assembly-CSharp.dll
/hipparcos_src/bin/Debug/Assembly-CSharp-firstpass.dll
/hipparcos_src/bin/Debug/hipparcos.pdb
/hipparcos_src/bin/Debug/Ionic.Zip.dll
/hipparcos_src/bin/Debug/KSPAssets.dll
/hipparcos_src/bin/Debug/KSPAssets.XmlSerializers.dll
/hipparcos_src/bin/Debug/KSPTrackIR.dll
/hipparcos_src/bin/Debug/Mono.Cecil.dll
/hipparcos_src/bin/Debug/TDx.TDxInput.dll
/hipparcos_src/bin/Debug/Unity.Analytics.DataPrivacy.dll
/hipparcos_src/bin/Debug/Unity.Analytics.StandardEvents.dll
/hipparcos_src/bin/Debug/UnityEngine.AccessibilityModule.dll
/hipparcos_src/bin/Debug/UnityEngine.AIModule.dll
/hipparcos_src/bin/Debug/UnityEngine.AndroidJNIModule.dll
/hipparcos_src/bin/Debug/UnityEngine.AnimationModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ARModule.dll
/hipparcos_src/bin/Debug/UnityEngine.AssetBundleModule.dll
/hipparcos_src/bin/Debug/UnityEngine.AudioModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ClothModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ClusterInputModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ClusterRendererModule.dll
/hipparcos_src/bin/Debug/UnityEngine.CoreModule.dll
/hipparcos_src/bin/Debug/UnityEngine.CrashReportingModule.dll
/hipparcos_src/bin/Debug/UnityEngine.DirectorModule.dll
/hipparcos_src/bin/Debug/UnityEngine.dll
/hipparcos_src/bin/Debug/UnityEngine.DSPGraphModule.dll
/hipparcos_src/bin/Debug/UnityEngine.GameCenterModule.dll
/hipparcos_src/bin/Debug/UnityEngine.GridModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ImageConversionModule.dll
/hipparcos_src/bin/Debug/UnityEngine.IMGUIModule.dll
/hipparcos_src/bin/Debug/UnityEngine.InputLegacyModule.dll
/hipparcos_src/bin/Debug/UnityEngine.InputModule.dll
/hipparcos_src/bin/Debug/UnityEngine.JSONSerializeModule.dll
/hipparcos_src/bin/Debug/UnityEngine.LocalizationModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ParticleSystemModule.dll
/hipparcos_src/bin/Debug/UnityEngine.PerformanceReportingModule.dll
/hipparcos_src/bin/Debug/UnityEngine.Physics2DModule.dll
/hipparcos_src/bin/Debug/UnityEngine.PhysicsModule.dll
/hipparcos_src/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/hipparcos_src/bin/Debug/UnityEngine.SharedInternalsModule.dll
/hipparcos_src/bin/Debug/UnityEngine.SpriteMaskModule.dll
/hipparcos_src/bin/Debug/UnityEngine.SpriteShapeModule.dll
/hipparcos_src/bin/Debug/UnityEngine.StreamingModule.dll
/hipparcos_src/bin/Debug/UnityEngine.TerrainModule.dll
/hipparcos_src/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/hipparcos_src/bin/Debug/UnityEngine.TextCoreModule.dll
/hipparcos_src/bin/Debug/UnityEngine.TextRenderingModule.dll
/hipparcos_src/bin/Debug/UnityEngine.TilemapModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UI.dll
/hipparcos_src/bin/Debug/UnityEngine.UIElementsModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UIModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UNETModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityConnectModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/hipparcos_src/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/hipparcos_src/bin/Debug/UnityEngine.VehiclesModule.dll
/hipparcos_src/bin/Debug/UnityEngine.VFXModule.dll
/hipparcos_src/bin/Debug/UnityEngine.VideoModule.dll
/hipparcos_src/bin/Debug/UnityEngine.VRModule.dll
/hipparcos_src/bin/Debug/UnityEngine.WindModule.dll
/hipparcos_src/bin/Debug/UnityEngine.XRModule.dll
/hipparcos_src/.vs/hipparcos/v16/.suo
/hipparcos_src/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/hipparcos_src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/hipparcos_src/obj/Debug/hipparcos.csproj.CopyComplete
/hipparcos_src/obj/Debug/hipparcos.csproj.CoreCompileInputs.cache
/hipparcos_src/obj/Debug/hipparcos.csproj.FileListAbsolute.txt
/hipparcos_src/obj/Debug/hipparcos.csprojAssemblyReference.cache
/hipparcos_src/obj/Debug/hipparcos.dll
/hipparcos_src/obj/Debug/hipparcos.pdb
